<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".LibApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestThreeLib">
        <activity
            android:name=".headfootemptypackage.HeadFootEmptyActivity"
            android:exported="false" />
        <activity
            android:name=".downmorelistenerpackage.DownMoreListenerActivity"
            android:exported="false" />
        <activity
            android:name=".morelistenerpackage.MoreListenerActivity"
            android:exported="false" />
        <activity
            android:name=".itemlistenerpackage.ItemListenerActivity"
            android:exported="false" />
        <activity
            android:name=".animationpackage.AnimationActivity"
            android:exported="false" />
        <activity
            android:name=".basequickadapterPackage.BaseQuickAdapterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>